---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODE API KEY>&location=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 19 Jan 2021 17:45:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"pueblo,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pueblo","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040865","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODE
        API KEY>&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1334205555"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Pueblo
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932014","unknownInput":"","type":"s","latLng":{"lat":38.265425,"lng":-104.610415},"displayLatLng":{"lat":38.265425,"lng":-104.610415},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODE
        API KEY>&type=map&size=225,160&locations=38.265425,-104.610415|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-140010143"}]}]}'
  recorded_at: Tue, 19 Jan 2021 17:45:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER API KEY>&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611078356,"sunrise":1611065519,"sunset":1611101172,"temp":30.34,"feels_like":23.27,"pressure":1032,"humidity":80,"dew_point":25.56,"uvi":1.8,"clouds":75,"visibility":10000,"wind_speed":4.61,"wind_deg":240,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1611078360,"precipitation":0},{"dt":1611078420,"precipitation":0},{"dt":1611078480,"precipitation":0},{"dt":1611078540,"precipitation":0},{"dt":1611078600,"precipitation":0},{"dt":1611078660,"precipitation":0},{"dt":1611078720,"precipitation":0},{"dt":1611078780,"precipitation":0},{"dt":1611078840,"precipitation":0},{"dt":1611078900,"precipitation":0},{"dt":1611078960,"precipitation":0},{"dt":1611079020,"precipitation":0},{"dt":1611079080,"precipitation":0},{"dt":1611079140,"precipitation":0},{"dt":1611079200,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,co&open_at=1611096355&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer -Ey08S2852mEG0pz8UE7gaD8wbVfpO7fHqGc4yQw41zW037V_pLd2W146UAVD5A_1TcK7J3yrlmnBrQFnl3eMSbEFcB-Hz6L4NIktOjDwEUBSbX1td5pLRqJwQMGYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      X-Zipkin-Id:
      - dce167135fd2fa8d
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-canary--uswest2-5c85788cb6-v2p8h; site=public_api_v3
      X-Proxied:
      - 10-69-128-115-uswest2bprod
      X-Extlb:
      - 10-69-128-115-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/EIPRzs68vSrQ_2tCf5pQNw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=d934hLmMdiZTXQQcKIZTig&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=d934hLmMdiZTXQQcKIZTig",
        "review_count": 64, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6632.28027227077}, {"id": "M4MwxQAA58B7ENV8ootI-w",
        "alias": "kans-kitchen-pueblo", "name": "Kan''s Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=d934hLmMdiZTXQQcKIZTig&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=d934hLmMdiZTXQQcKIZTig",
        "review_count": 20, "categories": [{"alias": "chinese", "title": "Chinese[...]
