---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,%20co&open_at=1611074191&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer -Ey08S2852mEG0pz8UE7gaD8wbVfpO7fHqGc4yQw41zW037V_pLd2W146UAVD5A_1TcK7J3yrlmnBrQFnl3eMSbEFcB-Hz6L4NIktOjDwEUBSbX1td5pLRqJwQMGYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4985'
      X-Zipkin-Id:
      - fa813490f13cfe08
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-bsjss; site=public_api_v3
      X-Proxied:
      - 10-69-124-134-uswest2aprod
      X-Extlb:
      - 10-69-124-134-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "r6DwEwkJdbzp3DnwYKY1qA", "alias": "city-wok-denver-3",
        "name": "City Wok", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/rtOXvYQrUDaLTkTTByeU0g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/city-wok-denver-3?adjust_creative=d934hLmMdiZTXQQcKIZTig&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=d934hLmMdiZTXQQcKIZTig",
        "review_count": 326, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 2.0, "coordinates": {"latitude": 39.8586550006182, "longitude":
        -104.673859479453}, "transactions": [], "price": "$$", "location": {"address1":
        "8900 Pe\u00f1a Blvd", "address2": "", "address3": "Terminal B", "city": "Denver",
        "zip_code": "80249", "country": "US", "state": "CO", "display_address": ["8900
        Pe\u00f1a Blvd", "Terminal B", "Denver, CO 80249"]}, "phone": "+13033426746",
        "display_phone": "(303) 342-6746", "distance": 28785.62259097057}, {"id":
        "aoSgZTty1wHVldlMV-hAwg", "alias": "silk-street-restaurant-broomfield-2",
        "name": "Silk Street Restaurant", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/B_fho1iQryos4Qm0vhJ1vw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/silk-street-restaurant-broomfield-2?adjust_creative=d934hLmMdiZTXQQcKIZTig&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=d934hLmMdiZTXQQcKIZTig",
        "review_count": 162, "ca[...]
